<div class="footer">
    <div class="container">
        <div class="row row-centered">
            <div class="col-centered">
                <div class="center-text">
                <span class="text-muted">All rights reserved.</span><br>
                <a href="admin@lux-price.pl">&copy;&nbsp; admin@lux-price.pl</a>
                </div>
            </div>
        </div>
    </div>

</div>